/* intuitivnejsi box siying */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	padding-left: 10px;
	margin: 20px;
	font: 16px/1.5 sans-serif ;
}

/* ------------------------- */
h1{
	color:dodgerblue;
}

form{
	width:100%;
	max-width:400px;
}

.required{
	color:red;
}

.form-field,
.form-checkbox{
	padding-bottom:10px;
}


.form-field > label{
	display:block;
	font-size: 14px;
	color:gray;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="phone"],
.form-field textarea,
.form-field select{
	width: 100%;
	padding:10px;
}



.button{
	background-color:dodgerblue;
	color: white;
	border: 0;
	border-radius:5px;
	padding: 10px 15px;
}